.sticky-row{
    position: sticky;
    background-color: transparent;
    z-index: 1000;
    bottom: 15px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
.higt-score{
   width: 25%;
}
.higt-score-icon{
    width: 70px;
    height: 70px;
}
.play-more{
    width: 50%;
    display: flex;
    align-items: center;
    /* padding: 0px 15px;   */
    justify-content: center;
}
.btn-more{
    background-color: #ffc800;
    padding: 6px 12px;
    border: 3px solid #fff;
    border-radius: 26px;
    cursor: pointer;
    font-weight: 900;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #3f2408;
    display: flex;
    align-items: center;
}
.play-more-icon{
  width: 32px;
  height: 32px;
}
.rewards{
   width: 25%;
   display: flex;
   justify-content: right;
}